---
swagger: "2.0"
info:
  description: "This is a sample server Petstore server.  You can find out more about\
    \ Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).\
    \  For this sample, you can use the api key `special-key` to test the authorization\
    \ filters."
  version: "0.0.1"
  title: "AnimeWorld Rest Api"
host: "www.animeworld.so"
basePath: "/api"
tags:
- name: "General"
  description: "Endpoint genereci"
paths:
  /search/v2:
    post:
      tags:
      - "General"
      summary: "Ricerca anime"
      description: "Ricerca anime nel sito in base ad una chiave di ricerca."
      parameters:
      - name: keyword
        in: query
        required: true
        type: string
        description: "chiave di ricerca"
      - name: csrf-token
        in: header
        required: true
        type: string
        description: "cross-site request forgery token"
  /download/{epID}:
    post:
      tags:
      - "General"
      summary: "Informazioni di download"
      description: "Restituisce informazioni per il download dell'episodio richiesto."
      parameters:
      - name: epID
        in: path
        required: true
        type: integer
        description: "id episodio"
      - name: csrf-token
        in: header
        required: true
        type: string
        description: "cross-site request forgery token"
  /tooltip/{animeID}:
    get:
      tags:
      - "General"
      summary: "Informazioni generali anime"
      description: "Restituisce informazioni generali e sintetiche sull'anime."
      parameters:
      - name: animeID
        in: path
        required: true
        type: integer
        description: "id anime"
      - name: csrf-token
        in: header
        required: true
        type: string
        description: "cross-site request forgery token"
  /schedule:
    get:
      tags:
      - "General"
      summary: "Calendario uscite"
      description: "Restituisce il calendario delle uscite degli episodi per il giorno indicato."
      parameters:
      - name: time
        in: query
        required: true
        type: integer
        description: "timestamp in millisecondi con timezone GMT+2"
